#error{
    color: red;
}

#hts{
    margin-top: 10px;
    margin-bottom: 10px;
}

#animalinfos{
    margin-top: 20px;
}
.title {
    color: red;
}

.columnHeader {
    text-align:center;
}

.createDBButton {
    margin-top: 1%;
}

th, td {
    height: 50px;
}
