<!--The content below is only a placeholder and can be replaced.-->



<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand title" href="/">INF3710-TP5</a>
  <div class="navbar-expand mr-auto" style="color: white;">
    Sauvons les animaux!
  </div>
</nav>

<mat-tab-group mat-align-tabs="center" class="columnHeader">
  <mat-tab label="Page principale" class="navtab">
    <div *ngIf="route == ''">
      <button mat-raised-button color="primary" class="createDBButton" (click) ="createDB()">Create Database</button>
    </div>
  </mat-tab>
  <mat-tab label="Animals" class="navtab">
      <app-animal [isForUpdate]="false"></app-animal>
  </mat-tab>
  <mat-tab label="Recherche" class="navtab">
    <br>
      Search for an animal by name: 
      <mat-form-field>
      <input type="text"  matInput [formControl]="nameSuggestionsControl" placeholder="Animal Name" [matAutocomplete]="auto" [errorStateMatcher]="matcher" #searchEntry (input)="getAnimalsNamesSuggestion($event.target.value)">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let name of filteredSuggestions | async" [value]="name">
          {{name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div id="ht" style="text-align:center" *ngIf="route != '/room'">
      <button type="button" class="btn btn-primary" (click)="getAnimalsFromSearchEntry(searchEntry.value)">Search Animals</button>
      <table id ="animalinfos" align="center" border="1" width="80%">
        <thead>
          <th>ID</th>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
          <th>Inscription date</th>
          <th>State</th>
          <th>Owner ID</th>
          <th>Treatments</th>
          <th>Bills</th>
          <th>Modify</th>
          <th>Remove</th>
        </thead>
        <tbody>
          <tr *ngFor="let animal of animalsSearch">
            <td> {{animal.animalid}} </td>
            <td> {{animal.animalname}}</td>
            <td> {{animal.animaltype}} </td>
            <td> {{animal.description}} </td>
            <td> {{animal.inscriptiondate}} </td>
            <td> {{animal.animalstate}} </td>
            <td> {{animal.ownerid}} </td>
            <td><button mat-raised-button color="accent" class="getTreatmentsButton" (click)="getAnimalTreatments(animal.animalid)"><mat-icon>local_hospital</mat-icon></button></td>
            <td><button mat-raised-button color="accent" class="getBillButton" (click)="getAnimalBill(animal.animalid)"><mat-icon>receipt</mat-icon></button></td>
            <td><app-dialog-overview [myAnimal]="animal"></app-dialog-overview></td>
            <td><button mat-raised-button color="warn" class="deleteButton" (click)="deleteAnimal(animal)"><mat-icon>delete_sweep</mat-icon></button></td>
          </tr>
        </tbody>
      </table>
    </div>

  </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>


<div id="ht" style="text-align:center" *ngIf="route != '/room'">
  <button type="button" class="btn btn-primary" (click)="getAnimals()">Get Animals</button>
  <table id ="animalinfos" align="center" border="1" width="80%">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>Inscription date</th>
      <th>State</th>
      <th>Owner ID</th>
      <th>Treatments</th>
      <th>Bills</th>
      <th>Modify</th>
      <th>Remove</th>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animals">
        <td> {{animal.animalid}} </td>
        <td> {{animal.animalname}}</td>
        <td> {{animal.animaltype}} </td>
        <td> {{animal.description}} </td>
        <td> {{animal.inscriptiondate}} </td>
        <td> {{animal.animalstate}} </td>
        <td> {{animal.ownerid}} </td>
        <td><button mat-raised-button color="accent" class="getTreatmentsButton" (click)="getAnimalTreatments(animal.animalid)"><mat-icon>local_hospital</mat-icon></button></td>
        <td><button mat-raised-button color="accent" class="getBillButton" (click)="getAnimalBill(animal.animalid)"><mat-icon>receipt</mat-icon></button></td>
        <td><app-dialog-overview [myAnimal]="animal"></app-dialog-overview></td>
        <td><button mat-raised-button color="warn" class="deleteButton" (click)="deleteAnimal(animal)"><mat-icon>delete_sweep</mat-icon></button></td>
      </tr>
    </tbody>
  </table>
</div>
