<!--The content below is only a placeholder and can be replaced.-->



<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand title" href="/">INF3710-TP5</a>
  <div class="navbar-expand mr-auto" style="color: white;">
    Sauvons les animaux!
  </div>
</nav>

<mat-tab-group mat-align-tabs="center" class="columnHeader" style="text-align:center">
    <mat-tab label="Page principale">
      <div *ngIf="route == ''">
        <button mat-raised-button color="primary" class="btn btn-danger" (click) ="createDB()">Create Database</button>
      </div>
    </mat-tab>
    <mat-tab label="Animals">
        <app-animal></app-animal>
    </mat-tab>
  </mat-tab-group>


<router-outlet></router-outlet>


<div id="ht" style="text-align:center" *ngIf="route != '/room'">
  <button type="button" class="btn btn-primary" (click)="getAnimals()">Get Animals</button>
  <table id ="ht" align="center" border="1" width="350">
    <thead>
      <th> Animal name</th>
      <th> Type</th>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animals">
        <td> {{animal.animalName}}</td>
        <td> {{animal.animalType}} </td>
      </tr>
    </tbody>
  </table>
</div>


