
<div id="hotel" style="text-align: left">
  <h1> Animals</h1>
  <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
    Insertion sur une cle primaire qui existe deja
  </div>
    <ul style="list-style: none;">
      animalid :        <li><input class="form-control col-md-4" #animalid></li>
      animalname :      <li><input class="form-control col-md-4" #animalname></li>
      animaltype :      <li><input class="form-control col-md-4" #animaltype></li>
      description :     <li><input class="form-control col-md-4" #description></li>
      inscriptiondate : <li><input class="form-control col-md-4" #inscriptiondate></li>
      animalstate :     <li><input class="form-control col-md-4" #animalstate></li>
      ownerid :         <li><input class="form-control col-md-4" #ownerid></li>
      <li><button 
        type="button" class="btn btn-primary" 
        (click)="insertAnimal(animalid.value, animalname.value, animaltype.value, description.value, inscriptiondate.value, animalstate.value, ownerid.value)">
        Add Animal
      </button></li>
    </ul>
   
  </div>
